.quiz-rs {
  max-width: 600px;
  margin: 0 auto;
}

.score-section-rs {
  text-align: center;
}

.answers-list-rs {
  list-style-type: none;
  padding: 0;
}

.user-answer-rs {
  margin-bottom: 10px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.restart-button-rs {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.progress-bar-rs {
  height: 10px;
  background-color: #4CAF50;
  margin-bottom: 20px;
}

.question-section-rs {
  margin-bottom: 20px;
  text-align: center; /* Center the content */
}

.question-count-rs {
  font-size: 16px;
  margin-bottom: 10px;
}

.question-image-rs {
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px; /* Center the image horizontally and add margin-bottom */
  display: block; /* Make the image a block element */
}

.question-text-rs {
  font-size: 18px;
  margin-bottom: 20px;
}

.answer-section-rs {
  display: flex;
  flex-direction: column;
}

.answer-option-rs {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  text-align: left;
}

.answer-option-rs:hover {
  background-color: #007B9A;
}